<template>
  <div style='max-width: 600px'>
    <h1>Air Up - Lohnt er sich?</h1>

    <!-- how many weeks --> 
    <h3>Allgemeine Einstellungen für die Grafiken:</h3>
    <p>Der Graph soll __ Wochen anzeigen.</p>
    <input type='number' @change="handleWeekInput" placeholder='12' />
    <p>Ich schätze ich werde __ Liter Wasser mit AirUp Duftpods trinken.</p>
    <input type='number' @change="handleLitersPerweekInput" placeholder='13' />
    <!-- costs -->
    <h2>Kosten:</h2>
    <p>Ich schätze ich werde pro Woche __ € an Getränken aus dem Supermarkt sparen.</p>
    <input type='number' @change="handleCostsPerWeekInput" placeholder='3.5' />
    <h6>Kosten in €</h6>
    <canvas ref='cost'></canvas>
    <!-- environment -->
    <h2>Umwelt:</h2>
    <p>Ich trinke __ Liter aus Plastikflaschen pro Woche.</p>
    <input type='number' @change="handleLemonadePerWeekInput" placeholder='2' />
    <h6>Plastikverbrauch in Gramm</h6>
    <canvas ref='env'></canvas>
    <p>
      Für das Gewicht der Duftpods pro Liter habe ich 3er Duftpod Packs gewogen und durch 15 geteilt.<br />
      Für die Flaschen habe ich eine 1 Liter Colaflasche gewogen.
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, getCurrentInstance, ref, computed, watchEffect } from 'vue';
import { Chart } from 'chart.js';

export default defineComponent({
  name: 'HelloWorld',
  props: {
    msg: String,
  },

  setup() {
  
    const countWeeksRef = ref(12);
    const litersPerWeekRef = ref(13);
    const costsPerWeekRef = ref(3.5);
    const lemonadePerWeekRef = ref(2);
    let weekArr = [0];
    let costChart: Chart | undefined;
    let envChart: Chart | undefined;

    watchEffect(() => {
      weekArr = [];
      for (let i = 0; i <= countWeeksRef.value; ++i) {
        weekArr.push(i);
      }
      updateGraph(weekArr, litersPerWeekRef.value, costsPerWeekRef.value, lemonadePerWeekRef.value);
    });

    onMounted(() => mountGraphs(weekArr));

    function mountGraphs(weekArr: number[], ) {
      // draw new chart
      const curr = getCurrentInstance();
      const costCtx = (curr?.refs['cost'] as HTMLCanvasElement | undefined)?.getContext('2d');
      const envCtx = (curr?.refs['env'] as HTMLCanvasElement | undefined)?.getContext('2d');
      if (costCtx) {
        costChart = new Chart(costCtx, {
          type:'line',
          data: {
            labels: weekArr,
            datasets: [
              {
                label: 'Airup Kosten',
                fill: false,
                borderColor: 'green',
                data: weekArr.map((week) => (30 + (litersPerWeekRef.value/15)*week))
              },
              {
                label: 'Kosten Ersparnisse',
                fill: false,
                borderColor: 'blue',
                data: weekArr.map((week) => week*costsPerWeekRef.value)
              }
            ]
          }
        });
      }
      if (envCtx) {
        envChart = new Chart(envCtx, {
          type: 'line',
          data: {
            labels: weekArr,
            datasets: [
              {
                label: 'Airup Duftpods',
                fill: false,
                borderColor: 'green',
                data: weekArr.map((week) => week*(litersPerWeekRef.value*2.5))
              },
              {
                label: 'PET Flaschen',
                fill: false,
                borderColor: 'blue',
                data: weekArr.map((week) => week*(lemonadePerWeekRef.value*37))
              }
            ]
          }
        })
      }
    }

    function updateGraph(weekArr: number[], litersPerWeek: number, costsPerWeek: number, lemonadePerWeek: number) {
      if (costChart) {
        costChart.data.labels = weekArr;
        if (costChart.data.datasets) {
          costChart.data.datasets[0].data = weekArr.map((week) => (30 + (litersPerWeek/15)*week));
          costChart.data.datasets[1].data = weekArr.map((week) => week*costsPerWeek);
        }
        costChart.update();
      }
      if (envChart) {
        envChart.data.labels = weekArr;
        if (envChart.data.datasets) {
          envChart.data.datasets[0].data = weekArr.map((week) => week*(litersPerWeekRef.value*2.5));
          envChart.data.datasets[1].data = weekArr.map((week) => week*(lemonadePerWeekRef.value*37));
        }
        envChart.update();
      }
    }

    function handleWeekInput(ev: InputEvent) {
      console.debug('change weeks to ', (ev.target as HTMLInputElement).valueAsNumber)
      countWeeksRef.value = (ev.target as HTMLInputElement).valueAsNumber;
    }

    function handleLitersPerweekInput(ev: InputEvent) {
      console.debug('change liters per week to ', (ev.target as HTMLInputElement).valueAsNumber)
      litersPerWeekRef.value = (ev.target as HTMLInputElement).valueAsNumber;
    }

    function handleCostsPerWeekInput(ev: InputEvent) {
      console.debug('change costs per week to ', (ev.target as HTMLInputElement).valueAsNumber)
      costsPerWeekRef.value = (ev.target as HTMLInputElement).valueAsNumber;
    }

    function handleLemonadePerWeekInput(ev: InputEvent) {
      console.debug('change lemonade per week to ', (ev.target as HTMLInputElement).valueAsNumber)
      lemonadePerWeekRef.value = (ev.target as HTMLInputElement).valueAsNumber;
    }


    return {
      countWeeksRef,
      handleCostsPerWeekInput,
      handleLitersPerweekInput,
      handleWeekInput,
      handleLemonadePerWeekInput,
    };
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
