<template>
  <div id="app">
    <Airup />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Airup from './components/airup.vue';

export default defineComponent({
  name: 'App',
  components: {
    Airup
  }
});
</script>

<style>
#app {
}
</style>
